<div id="<%= dom_id(@post)%>">
  <div class="row">
    <div class="col-xs-10 col-sm-11 question-show">
      <h1><%= @post.title %></h1>
      <p><%= @post.body %></p>
      <%if @category%>
        <p><%= @category.title %></p>
      <%end%>

      <section class="star-widget">
        Post Average Rating: <%= average_star(@post) %>
      </section>

      <% if can? :manage, @post %>
        <%= link_to "Edit", edit_post_path(@post)%>
        <%= link_to "Delete", post_path(@post),
                              method: :delete,
                              data: {confirm: 'Are you sure you want to delete this post?'}%>
      <%end%><br>

      <div>
        <div id="fav-form">
            <%= render '/favourites/form', post: @post %>
        </div>
      </div><br>


      <section>
        Tags: <%= @post.tags.map(&:name).join(", ") %>
      </section><br>

      <section class="star-widget">
        Rate this Post:
        <%= display_star(@post) %>
      </section><br>
    </div>
  </div>
</div>

<div class="row">
  <div id="com-form">
    <%= render '/comments/form' %>
  </div><br><br><br><br>
  <div id='comments-loop'>
    <% @post.comments.each do |comment| %>
      <%= render('comments/comment', {comment: comment}) %>
    <%end%>
  </div>
</div>
